body {
    background-color:rgb(230, 224, 218);
    font-family: 'Raleway', sans-serif;
  
}

.cnt {
    text-align: center;
    display: block;
}
    
.black, .spans .black {
    background-color: black;
    color: white;
    padding: 2px 5px; 
}

.round.black {
    border-radius: 50%;
    padding: 3px 7px;
}

.left-wrapper {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;

}

.left-first-container {
    width: 700px;
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.left-first-container img {
    width: 100%;
}

.container-text {
    font-size: 12px;
    margin: 0 15px;
}

.left-first-container span {
    color: grey;
}

.left-first-container button {
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: bold;
    background-color: white;
}

.container-footer button {
    display: inline-block;
}

.container-footer p {
    display: inline-block;
    margin-left: 450px;
}

.container-footer span {
    margin-left: 5px;
    color: white;
    padding: 5px;
    background-color: black;
}

.rigth-wrapper {
    width: 320px;
    height: 850px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.rigth-first-container {
    height: 200px;
    
    
}
 
.rigth-first-container img {
    width: 100%;
    
}

.container-text1 {
    height: 120px;    
    font-size: 12px;
    background-color: white;
    padding: 0 15px;
    box-sizing: border-box;
}

.container-text1 h3 {
    margin-top: 30px;

}

.post {
    background-color:white;
    margin-top: 20px;
}


.pic1  {
   border-bottom: 1px solid gainsboro;
   font-size: 0;
   padding: 8px 15px;
   box-sizing: border-box;
}

.pic-div {
    display: inline-block;
    width: 40px;
    font-size: 14px;
    
}

.pic-div img {
    width: 100%;
}

.pic-text {
    display: inline-block;
    line-height: 4px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 11px;
}

.ligth {
    background-color:rgb(245, 241, 237);
    height: 50px;
    box-sizing: border-box;
    padding: 2px 15px;
}

.end {
    background-color:rgb(245, 241, 237);
    height: 40px;
}

.spans {
    font-size: 12px;
    line-height: 30px;
    background-color: white;
    padding: 6px;
}
.spans span {
    background-color:rgb(214, 211, 208);
    margin:4px;
}

.main {
    margin: 30px auto 0;
    width: 1080px;
    font-size: 0;
}

.rigthText {
    background-color: white;
    
}

